*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

.header{
    width: 100%;
    height: 100vh;
    /* padding: 0 10%; */
    /* background: #f1d100; */
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1% 0; */
    font-size: larger;
    /* background-color: #855e0b85; */
    background-color: #bc9c10;
}

nav img{
    margin: 0.3% 7%;
    width: 10vw;
    height: 10vh;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1vh 1vw;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}

.vet-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    color: whitesmoke;
    font-size: x-large;
    background-color: #f1d100;
}

.vet-text div{
    width: 50%;
    padding-top: 5%;
}

.vet-text p{
    font-size: large;
}

.vet-text .buttons{
    float: left;
    width: 100%;
}

.vet-text .buttons button{
    font-size: large;
    padding: 4% 9%;
    border-radius: 5px;
    color: whitesmoke;
}

.b1{
    background-color: rgb(0, 229, 255);
    border: rgb(0, 229, 255) solid;
    cursor: pointer;
}

.b2{
    background-color: #f1d100;
    border: whitesmoke solid;
    cursor: pointer;
}

.vet-text img{
    height: 60vh;
    width: 30vw;
}

.vet-text2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    font-size: x-large;
}

.vet-text2 div{
    padding-top: 5%;
    width: 50%;
}

.vet-text2 p{
    font-size: large;
}

.vet-text2 iframe{
    height: 60vh;
    width: 30vw;
    margin-top: 5%;
}

.vet-text2 .buttons{
    float: left;
    width: 100%;
}

.vet-text2 .b2{
    font-size: large;
    padding: 4% 9%;
    border-radius: 5px;
    color: whitesmoke;
}

.vet-text2 .buttons button{
    cursor: pointer;
}
.vet-text3{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;*/
    padding: 5%;
    background-color: #f1d100;
    text-align: center;
    color: whitesmoke;
    /* margin: none; */
}

.vet-imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5%;
    padding-top: 0;
}

.vet-imgs img{
    width: 20vw;
    height: 20vw;
    transition: transform 0.5s;
}

#first{
    margin-left: 0;
}

#last{
    margin-right: 0;
}

#dolje-malo-ti p{
    margin: auto;
    padding: 3%;
    
}

.b2:hover{
    animation: crcl 2s ease-in forwards infinite reverse;/* irection fill-mode;*/
}

@keyframes crcl {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateY(10%);
    }
    50%{
        transform: translateY(10%) translateX(10%);
    }
    75%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}

.b1:hover{
    animation: crcl- 2s ease-in forwards infinite; /*alternate-reverse fill-mode;*/
}
@keyframes crcl- {
    0%{

    }
    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(-10%) translateY(10%);
    }
    75%{
        transform: translateY(10%);
    }
    100%{
        transform: translateX(0%) translateY(0%);
    }
}

.vet-text img{
    animation: rot infinite ease-in 3s; /*none;/* direction fill-mode;*/
}

.vet-text img:hover{
    animation-play-state: paused;
}

@keyframes rot {
    25%{
        transform: rotateZ(10deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    75%{
        transform: rotateZ(-10deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

.vet-imgs img:hover{
    transform: scale(1.1);
}

.vet-imgs h2{
    transition: transform 1s;
}

.vet-imgs h2:hover{
    transform: scale(1.2);
}